/* Navbar */
.navContainer {
  border-bottom: 1px solid;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  font-size: 14px;
}

.navContainer > div :first-child {
  margin-right: 5px;
}

.search {
  display: flex;
  align-items: center;
  /* border: 1px solid; */
  cursor: pointer;
  margin-right: 20px;
}

/* Search And Auth */
.searchAndAuth {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  /* width: 100px; */
}

.searchAndAuth > div:hover {
  cursor: pointer;
}

/* Search Box */
.searchBox {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  height: 65px;
  /* border: 1px solid; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  align-items: center;

  /* opacity: 0; */
  display: none;
  transition: all 0.3s ease;
}
.searchBox.show {
  opacity: 1;
  display: flex;
}
.searchBox input {
  /* border: 1px solid; */
  width: 100%;
  outline: none;
  padding: 5px;
}

/* User Authentication */
.userAuth {
  /* border: 1px solid; */
}
