
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  height: 200vh;
  background-color: #fff;
  color: #000;
  font-family: 'Roboto', sans-serif;
}
